@import "tailwindcss";

@layer base {
  * {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}

@layer utilities {
  .plus-jakarta-sans-200 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 200;
  }
  
  .plus-jakarta-sans-300 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
  }
  
  .plus-jakarta-sans-400 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
  }
  
  .plus-jakarta-sans-500 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
  }
  
  .plus-jakarta-sans-600 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
  }
  
  .plus-jakarta-sans-700 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
  }
  
  .plus-jakarta-sans-800 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
  }
}
